{
  "plugins": ["prettier", "@typescript-eslint", "eslint-plugin-tsdoc"],
  "rules": {
    "tsdoc/syntax": "warn"
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
